<footer>
    <nav class="navbar footer-bar sticky-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://www.redivogroup.com/" target="'_blank'">
            <h4>The Redivo Group</h4>
            </a>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/blog">Blog Posts</a>
                <a class="nav-item nav-link" href="/create">New Post</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</footer>