    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="nav-side-menu collapse" id='collapse-sidenav'>
        <div class="brand"><br/></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <a href="/home">
                    <li class="active">
                        <i class="fa fa-home fa-lg"></i> Home
                    </li>  
                </a>
                <a href="/blog">
                    <li class="">
                        <i class="fa fa-database fa-lg"></i> Blog Entries
                    </li>  
                </a>
                </a>
                <a href="/newblogpost">
                    <li class="">
                        <i class="fa fa-plus-square fa-lg"></i> Create New Blog Entry
                    </li>  
                </a>
                <a href="/edit-profile">
                    <li class="">
                        <i class="fa fa-user fa-lg"></i> Edit Profile
                    </li>  
                </a>
                <a href="/change-password">
                    <li class="">
                        <i class="fa fa-cog fa-lg"></i> Change Password
                    </li>  
                </a>       
                <a href="/register-user">
                    <li class="">
                        <i class="fa fa-users fa-lg"></i> Register New User
                    </li>  
                </a>    
                <a href="/manage-users">
                    <li class="">
                        <i class="fa fa-users fa-lg"></i> Manage Users
                    </li>  
                </a> 
                <a href="/logout">
                    <li class="">
                        <i class="fa fa-sign-out-alt fa-lg"></i> Logout
                    </li>  
                </a>                          
                {{!-- <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-database fa-lg"></i> Blog Control <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">

                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul> --}}
            </ul>
        </div>
    </div>
   
    {{!-- <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="nav-header">
        <h5>The Redivo Group Blog Control</h5> 
    </div>      <a class="btn btn-primary" data-toggle="collapse" href="#collapse-sidenav" role="button" aria-expanded="false" aria-controls="collapse-sidenav">
    Link with href
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/edit-profile"><i class="fas fa-user"></i> Edit Profile</a>
            <a class="dropdown-item" href="/change-password"><i class="fas fa-cog"></i> Change Password</a>           
            <a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
            </div>
        </li>
        </ul>
    </div>
</div>
</nav> --}}