{{> nav}}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 text-center mx-auto">
                    <img class="img-fluid previewimg" src="/imgs/logo.png" alt="{{this.img}}" id="{{img}}">
                    <h5>Image: <span class="preview-image"> default.jpg</span></h5>
                </div>
                <div class="col-lg-8">
                    <form action="/api/blog/create" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <label for="title">Blog title</label>
                            <input type="text" class="form-control" id="title" name="title"placeholder="My new blog title" required>
                        </div>
                        <div class="text-area-div">
                            <div class="form-group">
                                <label for="text">Blog text</label>
                                <textarea class="form-control" id="text" name='text' placeholder="My new blog text..." rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imageURL">Blog image</label>
                            <div class="alert alert-secondary" role="alert">
                                <input type="file" name="imageURL" class="form-control-file" id="imageURL">
                                <input name="default_imageURL" type='text' value='logo.png' class="form-control-file" id="image-url" hidden>
                            </div>      
                        </div>
                        <button type="submit" class="btn blog-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
 

{{> alert}}
{{footer }}