<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="reset-div">
                    {{>errors}}
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src='../imgs/logo.png' alt='log'>
                        </div>
                        <div class="col-md-8">
                            <h2>{{subTitle}}</h2>
                            <form method='POST' action='/reset/{{token}}'>
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                        <input type="password" class="form-control" id="password" name='password' aria-describedby="password" placeholder="Enter new password">
                                    <small id="password" class="form-text text-muted">Never share your password with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="confirm">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm" name='confirm' placeholder="Confrim Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>